.footer-two {
    display: flex;
    flex-wrap: wrap;
    z-index: 600;
    bottom: 0;
    height: 300px;
    color: #8898aa;
}

.pre-footers-nav{
    margin: 0 60px 0 0 ;
    font-weight: bold;
}

.footers-nav {
    display: inline-block;
    margin: 10px;
}

.footers-heading {
    text-transform: uppercase;
    font-size: 15px;
    margin: 0 0 0 15px;
}

.split-column {
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
    margin: 15px;
}

