.Toolbar {
    width: 100%;
    height: 50px;
    position: relative;
    top: 10px;
    left: 0;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
    z-index: 500;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    font-weight: bold;
    font-size: larger;
}

@media (min-width: 740px) {
    .DesktopOnly {
        display: flex;
    }
}