
.AppIllustrations {
    position: absolute;
    z-index: 200;
    display: flex;
    flex-wrap: wrap;
    transform: rotate(-12deg);
    max-width: 850px;
    top: 30px;
    margin-left: 25%;
    transform-origin: 100% 0;
    box-sizing: border-box;
}

.TabletLandscape {
    width: 512px;
    height: 352px;
    background: #fff;
    border-radius: 38px;
    justify-content: center;
    display: flex;
    align-self: flex-end;
    margin-right: 52px;
    box-shadow: inset 0 4px 7px 1px #fff,
                inset 0 -5px 20px rgba(173, 186, 204, 1),
                0 2px 6px rgba(0, 0, 0, .2),
                0 10px 20px rgba(0, 0, 0, .1);
}

.PhoneBig {
    width: 267px;
    height: 553px;
    background: #FFF;
    border-radius: 38px;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: inset 0 4px 7px 1px #fff,
                inset 0 -5px 20px rgba(173, 186, 204, 1),
                0 2px 6px rgba(0, 0, 0, .2),
                0 10px 20px rgba(0, 0, 0, .1);

}

.PhoneSmall {

    width: 225px;
    height: 467px;
    border-radius: 38px;
    background: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 52px;
    margin-right: 52px;
    box-shadow: inset 0 4px 7px 1px #fff,
                inset 0 -5px 20px rgba(173, 186, 204, 1),
                0 2px 6px rgba(0, 0, 0, .2),
                0 10px 20px rgba(0, 0, 0, .1);
}

.TabletPotrait {

    height: 675px;
    width: 450px;
    background: #fff;
    justify-content: center;
    display: flex;
    border-radius: 38px;
    margin-top: 52px;
    box-shadow: inset 0 4px 7px 1px #fff,
                inset 0 -5px 20px rgba(173, 186, 204, 1),
                0 2px 6px rgba(0, 0, 0, .2),
                0 10px 20px rgba(0, 0, 0, .1);

}