.Button{
    padding: 10px 14px;
    margin: 5px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
    border: none;
    letter-spacing: 0.04em;
    box-shadow: 7px 7px 25px rgba(50,50,93,0.11);
}

.Button:hover{
    position: relative;
    top: -1px;
    box-shadow: 7px 7px 25px rgba(0,0,0,0.3);
    cursor: pointer;
}

.Default{
    color: #7795f8;
    background-color: white;
}

.default-light{
    color: #6772e5;
    background-color: white;
}

.default-light:hover{

    color: rgba(103, 114, 229, .8);
}

.Primary{
    color: white;
    background-color: #3ecf8e;
}

.blue{
    color: white;
    background-color: #6772e5;
}

.blue:hover{
    background-color:rgba(103, 114, 229, .8);
}