.Button{
    padding: 10px 14px;
    margin: 5px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
    border: none;
    letter-spacing: 0.04em;
    box-shadow: 7px 7px 25px rgba(50,50,93,0.11);
}

.Button:hover{
    position: relative;
    top: -2px;
    box-shadow: 7px 7px 25px rgba(0,0,0,0.3);
}

.Default{
    color: #7795f8;
    background-color: white;
}

.Primary{
    color: white;
    background-color: #3ecf8e;
}