.NavigationItem{
    box-sizing: border-box;
    display: block;
}

.NavigationItem>a{
    height: 100%;
    padding: 16px;
    font-weight: 600;
    margin: 5px;
    text-decoration: none;
}

.yellow>a{
    color: yellow;
}

.red>a{
    color: red;
}

.lightblue>a{
    color: #1fa2ff;
}

.newblue>a{
    color: #6772e5;
}

.white>a{
    color: white;
}


.dropdown{
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s linear, opacity 0.3s linear;
}

@media (min-width: 740px) {
    .NavigationItem{
        width: auto;
        align-items: center;
        margin: 0;
    }

    .NavigationItem>a{
        height: 100%;
        padding: 16px;
        margin: 5px;
        text-decoration: none;
    }

    .NavigationItem:hover .dropdown{
        visibility: visible;
        opacity: 1;
    }

    .NavigationItem>a:hover{
        color: #000;
    }
}

