.NavigationItem{
    box-sizing: border-box;
    display: block;
}

.NavigationItem a{
    color: white;
    height: 100%;
    padding: 16px;
    font-weight: 600;
    margin: 5px;
    text-decoration: none;
}

@media (min-width: 740px) {
    .NavigationItem{
        display: flex;
        width: auto;
        align-items: center;
        margin: 0;
    }

    .NavigationItem a{
        color: white;
        height: 100%;
        padding: 16px;
        margin: 5px;
        text-decoration: none;
    }

    .NavigationItem a:hover{
        color: rgba(0,0,255,0.1);
    }
}

