.Card {
    position: absolute;
    z-index: 500;
    width: 350px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.5);
}

.card-flex-relative {
    position: relative;
    display: flex;
    overflow: hidden;
}




