.Card {
    position: absolute;
    z-index: 500;
    width: 350px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.5);
}

.card-flex-relative{
    position: relative;
    display: flex;
    overflow: hidden;
}

.arrow-up{
    margin: 20px;
    width: 12px;
    height: 12px;
    border-right: 18px solid #00f;
    border-left: 18px solid #00f;
    border-radius: 10px;
}



