.ContainerLarge{
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

.triangle {
    position: relative;
    background-color: orange;
    text-align: left;
    z-index: 600;
}
.triangle:before,
.triangle:after {
    content: '';
    position: absolute;
    background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
    width:  1em;
    height: 1em;
    border-top-right-radius: 30%;
}
.down{
    transform: rotate(0deg) skewX(-30deg) scale(1,.866);
}
.right{
    transform: rotate(30deg) skewX(-30deg) scale(1,.866);
}
.left{
    transform: rotate(90deg) skewX(-30deg) scale(1,.866);
}
.up{
    transform: rotate(180deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

